<header>
    <div class="header-main-div">
        <div>
            <p><a href="/" style="text-decoration: none;"><img style="background-color: white;" src="/images/shuffle-solid.svg" alt=""> Habit Tracker</a></p>
        </div>
        <div>
            <ul>
                    <li><a href="/" style="text-decoration: none;">Hello Ankur</a></li>
            </ul>
        </div>
    </div>

</header>